.hidden
{
	display: none;
}
body html{
	height: 100%;
}


img{
	width: 100%;
}



#container
{
	position: absolute;
   	width: 100%;
   	height: 100vh;
	/*background: rgb(148,151,165);*/
	background: url(../images/background.gif) no-repeat center;
	background-size: cover;
	display: block;

}
.title
{
	display: block;
	margin: 0 auto;
	width: 700px;
	padding-top: 10px;
/*	outline: 10px solid #8560A3;*/
/*	background-color: #8560A3;*/
}

.title h2
{
	font-family:'Poppins', sans-serif, Helvetica;
	padding: 10px;
	font-size: 28px;
	font-weight: 700;
	color: #8560A3;
	text-align: center;
	line-height: 50px;
	background-color: transparent;
}

.works
{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	text-align: center;
}

.type
{
	margin: 0 auto;
	width: 45%;
	padding: 10px;
}

.type h3
{
	margin-top: 40px;
	font-size: 30px;
	font-weight: 700;
	line-height: 22px;
	color: #fff;
}
.type h3:hover
{
	color: #8560A3;
}

.illust
{
	width: 300px;
	margin-left: 20%;
}

.illust img
{
	width: 380px;
	clip-path: circle(50% at 50% 50%);
	box-shadow: inset 5px 5px 10px 4px rgba(0,0,0,0.5);
}


#page {
   width: 100%;
   height: 80vh;
   top: 0;
   left: 0;
   z-index: 2;
}

.upper_page
{
	display: none;
}
.upper_page
{
	width: 50%;
	position: absolute;
	background-color: #8560A3;
	outline: 5px solid #fff;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

.upper_page img
{
	margin: 0 auto;
   display: block;
   width: 25%;
   border-radius: 60%;
}

.upper_page h2
{
	font-size: 18px;
	text-align: center;
	color: #8560A3;
	font-weight: 700;
	margin-top: 20px;
}

.upper_page p
{
	font-size: 15px;
	font-weight: 20px;
	margin-top: 20px;
	line-height: 26px;
}

.upperCon{
   width: 50%;
   background-color: #8560A3;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
   left: 50%;
   padding: 10px;
}

.work_layer img {
   margin: 0 auto;
   display: block;
   width: 25%;
   border: solid 5px #fff;*/
}

.work_layer h2 {
   font-size: 23px;
	text-align: center;
	color: #D7C6E2;
	font-weight: 700;
	margin-top: 20px;
}

.work_layer p {
   font-size: 20px;
	font-weight: 20px;
	margin-top: 20px;
	line-height: 26px;
	color: #fff;
}

.close
{	
	width: 30px;
	align-items: left;
	position: absolute;
	margin-top: 14px;
}
